
li.students{
    list-style:none;
    margin:10px;
    border: 1px solid gray;

}

.students .student{
    cursor: pointer;
}

.student{
    background-color:#abcabc;
    padding:10px;
}

.student span.circle-img{
    height: 100px;
    width:100px;
    display: inline-block;

    border-radius:50%;
    border: 1px solid gray;

    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 20%;
}
