li.students{
    list-style:none;
    padding:10px;
    background-color:#abcabc;
    margin:10px;
    border: 1px solid gray;

}

.student span{
    height: 100px;
    width:100px;
    display: inline-block;

    border-radius:50%;
    border: 1px solid gray;

    background-repeat:no-repeat;
    background-size:cover;
    background-position: 50% 20%;
}

